.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5 ease, visibility 0.5s ease;
  z-index: 1000;
}

.modal-backdrop.show {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  position: relative;
  background: rgb(236, 236, 236);
  padding: 40px;
  border-radius: 16px;
  width: 500px;
  height: 285px;
  transform: translateY(-50px);
  transition: transform 0.5s ease;
  z-index: 1001;
}

.modal-backdrop.show .modal-content {
  transform: translateY(0);
}

.modal-close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 0;
    outline: none;
}

.modal-close-button::before,
.modal-close-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 2px;
  background-color: #363636;
}

.modal-close-button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal-close-button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.social-button {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 60px;
  padding: 0 24px;
  border-radius: 55px;
  background: rgb(185, 198, 255);
  cursor: pointer;
  transition: 0.3s;
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  min-width: 200px;
}

.social-button:hover {
  background: #927dff;
  filter: drop-shadow(0px 0px 35px #4824ff40);
  color: #eeebff;
}

.social-icon {
  width: 28px;
  height: 28px;
  object-fit: contain;
}
