.image-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  
  .image-grid {
    display: flex;
    flex-wrap: wrap;
    max-height: calc(200px * var(--visible-rows));
    overflow: hidden;
  }
  
  .gallery-image {
    width: auto;
    height: 200px;
    border-radius: 16px;
    margin: 10px;
    cursor: pointer;
  }

.show-more-button {
    display: flex;
    font-size: 22px;
    margin-top: 10px;
    padding: 10px 10px 10px 30px;
    background-color: #4824ff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    transition: 0.5s ease-in-out;
}

.show-more-button:hover {
    background-color: black;
    filter: drop-shadow(0px 0px 30px #4824ff25);
}

.more-icon {
    margin: -12px;
    padding: 0;
    position: relative;
    content: url(../../../assets/images/carousel/banners/1711124054853.png);
    background: none;
    scale: 0.25;
    height: 50px;
}