.menu {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  max-width: 1400px; 
  margin: 0 auto; 
  padding: 0 20px; 
  background-color: #fff;
  justify-content: space-between;
  box-sizing: border-box;
}

.menu-links {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-left: 260px;
}


.menu a {
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  color: black;
  white-space: nowrap; 
}

.menu a:hover {
  color: rgb(160, 159, 255);
  text-shadow: 0 0 10px rgba(130, 106, 252, 0.5);
}

.menu-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn {
  position: relative;
  height: 55px;
  min-width: 180px;
  padding: 0 25px; 
  border-radius: 55px;
  background: #785dff;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  box-shadow: 0 0 35px rgba(72, 36, 255, 0.25);
}

.btn::before {
  content: '';
  position: absolute;
  top: -150px;
  left: -50px;
  height: 300px;
  width: 30px;
  background: rgba(255, 255, 255, 0.74);
  filter: blur(2px);
  transition: 1.5s;
  transform: rotate(-20deg) translateX(0);
}

.btn:hover::before {
  transform: rotate(-20deg) translateX(250px);
}

.icon {
  height: 40px;
  width: 40px;
  border-radius: 30%;
  transition: 0.3s;
  cursor: pointer;
}

.icon:hover {
  filter: drop-shadow(0px 0px 10px #4824ff40);
}
