/*    Portfolio */

.portfolio-block {
    height: 740px;
}

.portfolio-block .first-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-block .main-title {
    font-style: 56px;
   
    font-weight: 500;
    background: linear-gradient(to right, black, #4824ff);
    color: transparent;
    background-clip: text;
}

.portfolio-block .array-icon {
    margin: 0 20px;
    padding: 0;
    width: 75px;
    filter: drop-shadow(20px 20px 15px #4824ff25);
}

.portfolio-block .title-border {
    font-size: 56px;
    font-weight: 500;
    color: white;
    margin: 10px 0;
    text-shadow:
    -1px -1px 0 #4824ff30,
    1px -1px 0 #4824ff30,
    -1px 1px 0 #4824ff30,
    1px 1px 0 #4824ff30;
}

.gradient-part-one {
    position: absolute;
    background: linear-gradient(to right, transparent, white);
    color: transparent;
    height: 70px;
    width: 200px;
  }
  
  .gradient-part-two {
    position: absolute;
    background: linear-gradient(to left, transparent, white);
    color: transparent;
    height: 70px;
    width: 200px;
  }
  