/*    Portfolio */

.portfolio-block {
    min-height: 740px; /* Измените height на min-height */
    overflow-x: hidden; /* Скрываем горизонтальный скролл */
    position: relative;
}

.portfolio-block .first-block {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px 0; /* Добавляем отступы */
}


.portfolio-block .main-title {
    font-style: 56px;
   
    font-weight: 500;
    background: linear-gradient(to right, black, #4824ff);
    color: transparent;
    background-clip: text;
}

.portfolio-block .array-icon {
    margin: 0 20px;
    padding: 0;
    width: 75px;
    filter: drop-shadow(20px 20px 15px #4824ff25);
}

.portfolio-block .title-border {
    font-size: 56px;
    font-weight: 500;
    color: white;
    margin: 10px 0;
    text-shadow:
    -1px -1px 0 #4824ff30,
    1px -1px 0 #4824ff30,
    -1px 1px 0 #4824ff30,
    1px 1px 0 #4824ff30;
}

.gradient-part-one {
    position: absolute;
    background: linear-gradient(to right, transparent, white);
    color: transparent;
    height: 70px;
    width: 200px;
  }
  
  .gradient-part-two {
    position: absolute;
    background: linear-gradient(to left, transparent, white);
    color: transparent;
    height: 70px;
    width: 200px;
  }
  
  .portfolio-block .tag {
    display: flex;
    font-size: 20px;
    font-weight: 500;
    background: #eeebff;
    color: #4824ff;
    margin: 20px 12px 0 0;
    padding: 8px 22px;
    border-radius: 24px;
    border: 1px solid #eeebff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.portfolio-block .tag:hover {
    background: #9782ff;
    color: white;
    filter: drop-shadow(0px 0px 30px rgba(72, 36, 255, 0.15));
}

.portfolio-block .selected {
    background: #04001a;
    color: white;
    border: 1px solid #9782ff;
}