@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* WELCOMEEEEEEEEEEEEEEEEEEEE */

.welcome-block {
  height: 650px;
  display: flex;
  place-items: center;
  padding-left: 250px;
}

.welcome-block h1 {
  font-size: 52px;
}

.welcome-block h2 {
  font-size: 42px;
  font-weight: 450;
}

.welcome-block h3 {
  font-size: 30px;
  font-weight: 300;
}

.title {
  background: linear-gradient(
    to right,
    #4482ff,
    #4482ff,
    #85ebff,
    #eeebff,
    #85aeff,
    #4824ff,
    #4824ff
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 200% 100%;
  animation: gradientAnimation 5s linear infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 200% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.welcome-block .first-block {
  align-content: center;
  width: 55%;
}

.main-image-box {
  width: 45%;
  margin-top: -3%;
}

.image-layer {
  position: relative;
  height: 500px;
  width: 500px; 
  animation: bouncing 5s linear infinite;
}

@keyframes bouncing {
  0% { transform: translateY(0px);}
  50% { transform: translateY(20px);}
  0% { transform: translateY(0px);}
}